main {
    background-image: url('../images/verdure.jpg');

    h2 {
        color: $secondary_color;
    }

    .products {
        display: flex;
        flex-wrap: wrap;

        .product {
            width: calc( (100% / 3) - 10px );
            background-color: white;
            text-align: center;
            margin: 5px;
        }
    }
}